!!!
.main-chat
  .group-info
    .group-info__left-box
      .group-info__left-box__current-group
        = @group.name
      .group-info__left-box__member-list
        Member
        = current_user.name
          
    = link_to edit_group_path(current_user), class: "group-info__edit-btn" do
      Edit
  .messages
    = render @messages
  .form
    = form_for [@group, @message] do |f|
      .imput-box
        = f.text_field :content, class: 'imput-box__message', placeholder: 'type a message'
        = f.label :image, class: 'imput-box__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'
.link{ rel: "stylesheet", href: "modules/main-chat.css" }