!!!
.side-bar
  .side-user
    .side-user__box
      %h3.side-user__box__user-name 
        = current_user.name
      .side-user__box__icon
        = link_to "#", class: "side-user__box__icon__btn" do
          = icon('fas', 'edit')
        = link_to edit_user_path(current_user), class: "side-user__box__icon__btn" do
          = icon('fas', 'cog')
  .side-group
    .side-group__member
      .side-group__member__group-name techcamp
      .side-group__member__group-latest-massage まだメッセージがありません
    .side-group__member
      .side-group__member__group-name techcamp
      .side-group__member__group-latest-massage まだメッセージがありません
.link{ rel: "stylesheet", href: "modules/side_bar.css" }
